div.dropdown {
  top: 5rem;
  right: 1rem;
  overflow: hidden;
  overflow-y: auto;
}

.dropdown:hover {
  cursor: pointer;
  background-color: white;
}

.dropdown::-webkit-scrollbar {
  display: none;
}

p.title {
  font-size: 1vw;
}

div i {
  font-size: 1vw;
}
